<!DOCTYPE html>
<html lang="en">
<head>
<title>MEME Registration</title>
<link rel="stylesheet" type="text/css" href="index.css"/>
<meta charset="utf-8" />
<script src="registration.js"></script>
</head>
<body class="small login">
<div id="header">
<p>Sign up</p><br />
</div>
<div id="container">
    <div id="content" >
    	<div class="wrapper">
<form action = "comfirm" onsubmit="return textCheck()">
<table  class="login" style="margin-left: auto; margin-right: auto;">
	<tr>
		<td><input id="username" name="username" type="text" placeholder="Username" value="" size="24" maxlength="32" class="inputtext"></td>
	</tr>
	<tr>
		<td><input id="password" name="password" type="password" placeholder="Password" value="" size="24" maxlength="32"  class="inputtext"></td>
	</tr>
	<tr>
		<td><input id="password2" name="password2" type="password" placeholder="Enter password again"  size="24" value="" maxlength="32"  class="inputtext"></td>
	</tr>
	<tr>
	<tr>
		<td><input name="nickname" type="text" placeholder="NickName" value="" size="24" maxlength="32" class="inputtext"></td>
	</tr>
	<tr>
		<td>
		<select name="gender">
		<option value="M">Male</option>
		<option value="F">Female</option>
		</select>
		 
		</td>
	</tr>
	<tr>
		<td>
		Birthday
		<select id="selYear" name="year" value="1"></select>
		<select id="selMonth" name="month" value="2"></select>
		<select id="selDay" name="day" value="3"></select>
		<script type="text/javascript">
			var selYear = window.document.getElementById("selYear");
			var selMonth = window.document.getElementById("selMonth");
			var selDay = window.document.getElementById("selDay");
			new DateSelector(selYear, selMonth ,selDay);
		</script>
		</td>
	</tr>
	<tr>
		<td><input  class="inputtext" name="email" type="email" placeholder="Email" value="" size="24" maxlength="32"></td>
	</tr>
	<tr>
		<td><input  class="inputtext" name="major" type="text" placeholder="Major" value="" size="24" maxlength="32"></td>
	</tr>
	<tr>
		<td><input  class="inputtext" name="nation" type="text" placeholder="Nationality" value="" size="24" maxlength="32"></td>
	</tr>
	<tr>
		<td align=left>		
		<input name="submit" type="submit" value="submit" onclick="textCheck()"  class="public-button" />
		</td></tr>
<tr><td>	
<input type="button" value="Back" onClick="window.location.href='index.html';"  class="public-button"></td>
</tr>
</table>

</form>
</body>
</html>
